<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312425398025-icd4bqgf59qfbd3r19dmg0kjgee2c27i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312425398025-icd4bqgf59qfbd3r19dmg0kjgee2c27i</string>
	<key>API_KEY</key>
	<string>AIzaSyDhHKoT7c3EuCad3M7Ufmci4HXrsTWOiA4</string>
	<key>GCM_SENDER_ID</key>
	<string>312425398025</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sanity</string>
	<key>PROJECT_ID</key>
	<string>sanityhealthapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sanityhealthapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312425398025:ios:cf32fbe3b53726fe1fddd8</string>
</dict>
</plist>